body {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: #FFF;
    background-color: #141414; 
    background-image: "mountain.png"; 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

header {
    font-family: 'Cinzel decorative', serif;
    text-align: center;
}

h1 {
    font-size: 2.618em;
}

h2 {
    font-size: 1.618em;
    margin-top: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color:#141414 ; 
    padding: 10px 20px;
    border: 2px solid #FFD700;
    border-radius: 20px;
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff; 
    text-align: center;
    transition: all 0.3s;
}
.btn:hover {
    background-color: #FFD700;
    color: #141414; 
}

.info {
    max-width: 60%;
    text-align: left;
}
.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: BUTTON_COLOR_PLACEHOLDER;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.about-section {
    flex: 1;
    padding: 50px;
}

.about-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.about-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.download-resume {
    background-color: BUTTON_COLOR_PLACEHOLDER;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.resume-section {
    flex: 1;
    padding: 50px;
}

.resume-label {
    display: block;
    margin-bottom: 10px;
}

.email-input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}


@media screen and (max-width: 600px) {
    .info {
        max-width: 80%;
    }
}
