/*body {
    padding-top: 20px;
    font-family: 'Inconsolata', monospace;
    font-size: 1.618rem;
    color: #FFF;
    background-color: #141414; 
    background-image: "mountain.png"; 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.618rem;
}*/
.container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-family: 'Inconsolata', monospace;
    font-size: 1.618rem;
    color: #FFF;
    background-color: #141414; 
    background-image: "mountain.png"; 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.618rem;
}
html {
    scroll-behavior: smooth;
   }
.homepage {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-shrink: 0;
    min-height: 100vh;
    max-height: auto;
    justify-content: space-around;
    max-width: 1440px;
    margin: auto;
    scroll-snap-stop: always;

}
.about-section {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;
    align-items: center;
    min-height: 100vh;
    max-height: auto;
    justify-content: space-around;
    max-width: 1440px;
    margin: 50px 81px;
    scroll-snap-stop: always;
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header {
    font-family: 'Cinzel decorative', serif;
    text-align: center;
}

h1 {
    font-size: 2.618rem;
}

h2 {
    font-size: 1.618rem;
    margin-top: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color:#141414 ; 
    padding: 10px 20px;
    border: 2px solid #FFD700;
    border-radius: 20px;
    font-family: 'Inconsolata', monospace;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff; 
    text-align: center;
    transition: all 0.3s ease;
}
.btn:hover {
    background-color: #FFD700;
    color: #141414; 
}

.info {
    max-width: 60%;
    text-align: left;
}
.home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: BUTTON_COLOR_PLACEHOLDER;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.about-description {
    display:flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-direction: column;
    font-size: 1.618rem;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 20px;
}
.skills-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 20px; /* Space between skill icons */
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .skill i {
    font-size: 40px; /* Icon size */
    margin-bottom: 10px; /* Space between icon and text */
    color: #FFFFFF; /* Icon color, change as needed */
  }
  
  .skill p {
    font-size: 14px;
    color: #FFFFFF; /* Text color, change as needed */
  }
  

.about-title {
    align-self: center;

    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;
}


.about-content {
    
    display: flex;
    align-self: center;
    text-align: center;
    align-items: center;
}
.about-content p {
    margin-bottom: 10px;
    align-self: center;
    max-width: max-content;
}

.ResumeBtn {
    align-self: center;
}

.resume-section {
    
    flex: 1;
    padding: 50px;
}

.resume-label {
    display: block;
    margin-bottom: 10px;
}

.email-input {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.projects-container {
    display: flex;
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 50px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.project-icon a {
    text-decoration: none; /* Removes underline */
}

.project-icon .fab {
    font-size: 50px;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.project-icon a:hover .fab {
    /* You can add a different color or any other style for the hover effect if needed */
    color: #FFD700; 
}
h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    max-width: 70%;
}
.icon-link {
    text-decoration: none; /* Removes underline */
    margin: 10px; /* Space between icons */
    font-size: 50px; /* Icon size */
    color: #FFFFFF; /* Icon color */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.icon-link:hover {
    color: #FFD700; /* Change this to your desired hover color */
}

.socials {
    display: flex;
    justify-content: center; /* Horizontally center icons */
    align-items: center; /* Vertically center icons */
    flex-wrap: wrap; /* Allows icons to wrap to next line if screen is too small */
}

@media screen and (max-width: 600px) {
    .info {
        max-width: 80%;
    }
}
